/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image:
        repeating-linear-gradient(90deg,
            var(--gradient-base) 0px 2px,
            transparent 2px 4px),
        repeating-linear-gradient(180deg,
            var(--gradient-base) 0px 2px,
            transparent 2px 4px),
        linear-gradient(180deg,
            var(--gradient-light) 0.01%,
            var(--gradient-dark) 100%);
    max-width: 100%;
}

.header {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    grid-template-rows: repeat(3, minmax(138px, auto));
}

.background-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1/4;
}

.section {
    width: var(--content-width);
    outline: var(--outline);
    background-color: var(--background-color);
    margin-block-start: 56px;
}

.header-title {
    font-size: clamp(3.0625rem, 1.8125rem + 4vw, 4.0625rem);
    margin-block-end: 20px;
}

.header-paragraph {
    text-transform: uppercase;
    font-size: clamp(0.875rem, 0.1719rem + 2.25vw, 1.4375rem);
}

.header-text {
    font-family: var(--accent-font), fantasy;
}

.main {
    display: grid;
    justify-content: center;
    margin-block-start: 50px;
}

.title-box {
    display: flex;
    align-items: center;
    padding: 0 10px;
    line-height: 200%;
}

.card-img {
    width: 100%;
    height: var(--image-height);
    object-fit: cover;
    object-position: center;
    outline: var(--outline);
}

.posts-text {
    font-family: var(--main-font), sans-serif;
    font-size: 18px;
}

.main-text {
    font-weight: 400;
}

.card__like-button {
    background-color: transparent;
    border: none;
    transition: box-shadow 0.3s ease;
}

.card__icon-button {
    background-color: transparent;
    border: none;
    transition: outline 0.1s ease;
    display: flex;
}

.button {
    display: flex;
    justify-self: end;
    align-items: center;
    min-height: 90px;
    margin: auto 25px;
}

.text-box {
    padding: 25px 25px 0 25px;
}

.button__text {
    font-family: var(--accent-font), fantasy;
    font-size: 14px;
    mix-blend-mode: difference;
    text-align: center;
    position: relative;
    z-index: 2;
}

.dialog-text {
    color: var(--main-color);
}

.common-button {
    border: var(--outline);
    padding: 10px 0;
    min-width: 130px;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    color: var(--accent-color);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common-button:hover {
    cursor: pointer;
    color: var(--main-color);
}

.common-button:hover::before {
    transform: scaleX(1);
}

.common-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    z-index: 0;
}

.common-button:hover .icon-svg {
    filter: invert(100%);
    transition: 0.5s ease-in-out;
}

.icon-svg {
    color: var(--accent-color);
    transition: color 0.3s ease;
    width: 21px;
    height: 21px;
}

.image-box {
    display: flex;
    position: relative;
}

.image-text {
    font-size: 14px;
    position: absolute;
    top: 25px;
    right: 25px;
    mix-blend-mode: hard-light;
    z-index: 1;
    opacity: 50%;
    text-shadow:
        -1px 0 var(--accent-color),
        0 1px var(--accent-color),
        1px 0 var(--accent-color),
        0 -1px var(--accent-color);
}

.blur {
    filter: blur(1px);
}

.brightness {
    filter: brightness(20%);
}

.contrast {
    filter: contrast(100%);
}

.opacity {
    filter: opacity(80%);
}

.sepia {
    filter: sepia(0.6);
}

.saturate {
    filter: saturate(300%);
}

.grayscale {
    filter: grayscale(80%);
}

.multiply {
    filter: hue-rotate(0.5turn) opacity(90%) saturate(390%);
}

@supports(-webkit-text-stroke: 1px var(--main-color)) or ((text-stroke: 1px var(--main-color))) {
    .image-text {
        -webkit-text-stroke: 1px var(--main-color);
        text-shadow: none;
    }
}

.footer {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, minmax(104px, auto));
}

.dialog-button {
    display: flex;
    outline: none;
    background-color: var(--main-color);
    margin-top: 50px;
    padding: 15px 19px;
    align-self: start;
    gap: 8px;
}

.dialog {
    font-family: var(--accent-font), fantasy;
    line-height: 150%;
    text-transform: uppercase;
}

.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

.dialog[open] {
    display: grid;
    grid-template-columns: 70px auto;
    max-width: 353px;
    padding: 20px;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.button-ok {
    padding: 12px 40px;
    width: clamp(237px, 100vw, 293px);
    background-color: var(--main-color);
    margin-top: 10px;
    grid-column: 1/3;
    text-transform: uppercase;
}

.tape-icon-dialog {
    transform: scale(1.89);
}

.common-button:focus {
    outline: none;
}

.common-button:focus-visible {
    border: var(--outline);
    box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button:focus {
    outline: none;
    border: none;
}

.card__icon-button:focus-visible {
    outline: var(--outline);
    outline-offset: -2px;
}

.like-icon {
    cursor: pointer;
    transform-origin: center;
}

@media (width <=375px) {
    .header {
        grid-template-rows: repeat(3, minmax(125px, auto));
    }

    .title-box {
        line-height: 170%;
    }

    .dialog-button {
        display: grid;
        grid-template-rows: repeat(2, minmax(24px, auto));
        justify-items: center;
        gap: 0;
    }

    .tape-icon {
        transform: scale(1.34);
    }

    .icon-svg {
        width: 28px;
        height: 28px;
    }
}